<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-inverse bg-inverse">
            <div class="navbar-brand">QAサイト</div>
        </nav>
        <div class="container">
            <form class="row" method="post" action="/question">
                <div class="col-sm-9" style="padding: 15px;">
                    <input type="text" class="form-control input-sm" name="question" placeholder="質問を入力してください。" size="100">
                </div>
                <div class="col-sm-3" style="padding: 15px;">
                    <button type="submit" class="btn btn-primary">質問する</button>
                </div>
            </form>
            {% for item in view_value %}
            <div class="card" style="margin: 15px;">
                <div class="card-header">質問{{ item.q_id }}：{{ item.q }}</div>
                <div class="row" style="margin: 5px;">
                <form class="row" method="post" action="/answer?q={{ item.q_id }}">
                    <div class="col-sm-9" style="padding: 15px;">
                        <input type="text" class="form-control input-sm" name="answer" placeholder="回答を入力してください。" size="80">
                    </div>
                    <div class="col-sm-3" style="padding: 15px;">
                        <button type="submit" class="btn btn-primary">回答する</button>
                    </div>
                </form>
                </div>
                <ul class="list-group list-group-flush">
	            {% for a in item.a %}
                    <li class="list-group-item">{{ a }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>
